<div class="flex">
  <button class="fab-button" mat-fab shareButton="facebook" #fbBtn="shareButton" [style.backgroundColor]="fbBtn?.color">
    <span class="icon icon-facebook"></span>
  </button>

  <button class="fab-button" mat-fab shareButton="twitter" #twBtn="shareButton" [style.backgroundColor]="twBtn?.color">
    <span class="icon icon-twitter"></span>
  </button>

  <button class="fab-button" mat-fab shareButton="whatsapp" #whatsappBtn="shareButton" [style.backgroundColor]="whatsappBtn?.color">
    <span class="icon icon-whatsapp"></span>
  </button>

  <button class="fab-button" mat-fab shareButton="linkedin" #lnBtn="shareButton" [style.backgroundColor]="lnBtn?.color">
    <span class="icon icon-linkedin"></span>
  </button>
</div>