@import "common";
:host {
    .contact-price {
        @include respond(lg) {
            min-width: 500px;
        }
        @include respond(md) {
            min-width: 400px;
        }
        @include respond(sm) {
            min-width: 330px;
        }
        min-width: 540px;
    }
    .about-form-box {
        padding: 36px 36px 28px;
        ::placeholder {
            color: theme("colors.primary.500");
            opacity: 1;
        }
    }
}
