<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "How to purchase wholesale?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "a. For the products mentioned tier price if you increase the quantity automatically you will get discounted price as mentioned in tier price box b. For the products mentioned contact for a price, you just enter your detail requirement you will get access to contact with sellers directly"
        }
      },{
        "@type": "Question",
        "name": "How many days it will take to deliver products?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Delivery is depending on PIN codes, you can check yourself by entering pin code"
        }
      },{
        "@type": "Question",
        "name": "What are the payment option?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "There are range of payment option Aslidesi is providing, you pay online using net banking, card, UPI, wallet, PayPal also COD. You can use any of them for less quantity and for wholesale sellers are not accepting cash on delivery, in that case you have to pay the amount during order according sellers choice"
        }
      },{
        "@type": "Question",
        "name": "What will happen if I pay and the products not delivered?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "There is no chance of that, product must be delivered also if it happens in any case we will do our best possible way to return your paid amount within 7 to 15 days"
        }
      },{
        "@type": "Question",
        "name": "Can purchase and get delivered in America, Gulf and China?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Ys, definitely, Aslidesi will delivered your products at any address globally, and the delivery charges will be applicable according to delivery address"
        }
      }]
    }
    </script>

<div class="vendor-bg">
</div>
<div class="container main-container ">
    <div class="heading">
        <h1 class="font-semibold block text-center text-white leading-normal">Most Popular FAQs</h1>
        <!--  <p class="text-white text-center title leading-normal"></p> -->
    </div>
    <div class="card p-0 bg-white my-8">
        <div class="p-6 faq">
            <h3 class="my-6 title text-primary-500 font-medium ">Most Popular FAQs</h3>
            <app-faq [faqs]="faqs"></app-faq>
        </div>
    </div>
</div>