
@font-face {
  font-family: 'Poppins-Thin';
  src: url('Poppins-Thin.eot?#iefix') format('embedded-opentype'),  url('Poppins-Thin.woff') format('woff'), url('Poppins-Thin.ttf')  format('truetype'), url('Poppins-Thin.svg#Poppins-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
