<div class="vendor-bg"></div>
<div class="container main-container ">
    <div class="heading">
        <h1 class="font-semibold mb-4 text-center leading-normal">Dear Customer, Your payment is failed !</h1>
        <p class=" text-center title leading-normal">Visit your cart.</p>
    </div>
    <div class="">
        <div class="login-container mx-auto">
            <div class="card bg-white p-2 md:p-6 mb-6 md:my-8">
                <div class="w-full text-center ">
                    <button (click)="onGotoCart()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                        Back to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>