<div class="vendor-bg">
    <div class="container main-container">
        <h2 class="bannertitle font-semibold block text-center text-white title leading-normal">
            {{page?.extras?.banner_title}}</h2>
        <p class="bannershrot font-semibold block text-center text-white leading-normal title mt-8"
            [innerHtml]="page?.extras?.banner_description | nl2br"></p>
    </div>
</div>

<div class="container">
    <div class="">
        <h2 class=" heading text-center text-primary-500 pt-12">{{page?.extras?.category_title}}</h2>
    </div>
    <div class="pb-0 section grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 dsk:grid-cols-5 gap-5">
        <a [routerLink]=" item.children_count > 0 ? ['/category/', item.slug] : ['/product/category/', item.slug]"
            class="slider-category-item" *ngFor="let item of page?.extras?.selected_category">
            <div class="h-full">
                <div class="image-container">
                    <img class="occasion-img mx-auto" [src]="item.image || 'assets/image/category-icon.svg'" [alt]="item?.name || 'Occasion categories'" />
                </div>
                <p class="text-center text-primary-500 font-semibold mt-4">{{item?.name || 'Occasion categories' }}
                </p>
            </div>
        </a>
    </div>
    <div class="">
        <h2 class=" heading text-center text-primary-500 pt-12 pb-20 ">{{page?.extras?.step_title}}</h2>
    </div>
    <div class="steps">
        <div class="flex flex-col-reverse lg:flex-row path" *ngFor="let step of page?.extras?.step; let index = index"
            [ngClass]="{'myStyle': 0 != index % 2}">
            <div class="w-full lg:w-1/2"><img [src]="fileUrl(step?.image)" [alt]="step?.image_name || 'step image'"></div>
            <div class="img-decripion pl-0 mb-6 lg:mb-0 lg:pl-16 flex  items-center w-full lg:w-1/2">
                <div class="custom">
                    <div class="pb-8 "><span class="p-4 bg-primary-500 rounded-sm text-white">0{{index + 1}}</span>
                    </div>
                    <div class="pb-3 text-primary-500 img-title title font-semibold">{{step?.image_name}}</div>
                    <div>
                        <p>{{step?.image_description}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="heading">
        <h2 class=" heading text-center text-primary-500 pt-12 pb-6">Questions and Answers related to Buying on Aslidesi
        </h2>
        <app-faq [faqs]="faqs" [divided]="true"></app-faq>
    </div>


    <div>
        <div class="pt-6 pb-6 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-2 gap-4 lg:gap-6">
            <div class="col-span-1 md:col-span-2 lg:col-span-1">
                <h2 class="titel text-primary-500">{{page?.extras?.application_title}}</h2>
                <p class="text-md lg:text-lg  pt-3" [innerHtml]="page?.extras?.application_description | nl2br"></p>
            </div>

            <div class="">
                <div class="flex md:flex-col flex-row lg:flex-row justify-center md:justify-end">
                    <div class="md:ml-auto lg:ml-0 mr-4 md:mr-0 mb-4 lg:mb-0 lg:mr-4">
                        <a *ngIf="settings?.aslidesi_app_link?.vendor_play_store"
                            [href]="settings?.aslidesi_app_link?.vendor_play_store" target="_blank" mat-flat-button
                            color="black" class="input px-2 lg:px-4 py-1"><img
                                class="inline-block  mr-1 md:mr-2 h-4 w-4"
                                src="assets/image/play-store.svg" alt="Play store logo" >
                            Google Playstore</a>
                    </div>
                    <div class="md:ml-auto lg:ml-0">
                        <a *ngIf="settings?.aslidesi_app_link?.vendor_app_store"
                            [href]="settings?.aslidesi_app_link?.vendor_app_store" target="_blank" mat-flat-button
                            color="black" class="input px-2 lg:px-4 py-1"><img
                                class="inline-block mr-1 md:mr-2 h-4 w-4"
                                src="assets/image/appstore.svg" alt="App store logo"> Apple
                            Appstore</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center">
            <img [src]="fileUrl(page?.extras?.application_image)" alt="Application extra logo">
        </div>
    </div>


</div>